.gridlayout {
    display: grid;
    grid-template: 80px 80px repeat(5, 100px) / repeat(3, 200px) 300px 100px 300px 200px 200px;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
}

html, body {
    background-attachment: fixed;
}


/* BACKGROUND STYLING */

#background {
    background-repeat: no-repeat;
    background-size: cover;
}

/* HEADER TITLE STYLING */

header {
    background-color: rgba(171, 216, 231, 0.75);
    grid-column: 4 / span 3;
    grid-row: 1 / span 1;
    text-align: center;
    border-radius: 15px;
}

.headertext1 {
    color: orange;
    font-family: "Charmonman", sans-serif;
    font-size: 50px;
    opacity: 1;
}

.headertext2 {
    color: blue;
    font-family: "Righteous", Times;
    font-size: 50px;
    opacity: 1;
}

.headerlogo {
    width: 60px;
    height: 45px;
    opacity: 1;
}

/* TOOL BAR STYLING */

.infobar {
    list-style: none;
    border-radius: 15px;
    background-color: rgba(163, 163, 163, 0.952);
    grid-column: 1 / span 9;
    grid-row: 2 / span 1;
    height: 90%;
    align-self: center;
    text-align: center;
    overflow: hidden;
}

.infolist li {
    display: inline-block;
    align-content: center;
    align-self: center;
    align-items: center;
    text-align: center;
    margin: 2.5px 50px 0 50px;
}

.infolist li button {
    color: white;
    background-color: rgba(107, 107, 230, 0.842);
    border-radius: 10px;
    padding: 10px 30px 10px 40px;
    outline: none;
    font-family: "Josefin Sans", Times, serif;
    font-weight: 700;
    letter-spacing: 1.5px;
    overflow: hidden;
    align-content: center;
    align-self: center;
    align-items: center;
    text-align: center;
    position: relative;
    cursor: pointer;
    z-index: 101;
}

.contacticon, .newsicon, .eduicon, .meicon, .homeicon {
    width: 20px;
    height: 20px;
    top: 7px;
    left: -80px;
    transition: all 200ms ease;
    position: absolute;
}

.stockicon {
    width: 50px;
    height: 50px;
    top: -9px;
    left: -80px;
    transition: all 200ms ease;
    position: absolute;
}

/* PROFILE SCROLL DOWN MENU */

.profilebox {
    grid-row: 1 / span 2;
    grid-column: 8 / span 1;
    text-align: center;
    position: relative;
    padding: 10px 10px;
    z-index: 1;
}

.profilescrollbox {
    border: 2px outset rgb(168, 115, 115);
    background-color: rgb(206, 206, 206);
    height: 25px;
    width: 175px;
    position: relative;
    align-self: center;
    align-items: center;
    text-align: center;
}

#profilescroll {
    font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 800;
    padding: 4px 0 0 0;
    text-align: center;
    width: 100%;
    height: 100%;
    outline: none;
    z-index: 100;
}

.profileusericon {
    height: 17px;
    margin: 4px 0 0 15px;
    z-index: 101;
    position: absolute;
}

.profilearrowicon {
    height: 15px;
    margin: 7.5px 0 0 150px;
    z-index: 101;
    position: absolute;
}

.profilescrolldownbox {
    border: 2px outset rgb(168, 115, 115);
    border-top: 1px solid black;
    background-color: rgb(206, 206, 206);
    width: 175px;
    font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
    position: relative;
    display: none;
    z-index: 1;
}

.profilescrolldownbox p {
    cursor: pointer;
}

    /* TOP RIGHT LOGIN BUTTON */

.cornerloginbox {
    grid-row: 1 / span 2;
    grid-column: 8 / span 1;
    text-align: center;
    position: relative;
    padding: 10px 10px;
}

.cornerloginbutton {
    border: 2px outset rgb(168, 115, 115);
    background-color: rgb(206, 206, 206);
    height: 25px;
    width: 175px;
    position: relative;
    align-self: center;
    align-items: center;
    text-align: center;
    font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 800;
    width: 100%;
    outline: none;
    cursor: pointer;
    padding: 3px 0 0 30px;
}

.cornerloginicon {
    height: 17px;
    margin: 4px 0 0 15px;
    z-index: 101;
    position: absolute;
}

    /* FOOTER STYLES */

footer {
    color: black;
    font-size: 14px;
    background-color: lightblue;
    text-align: center;
    bottom: 0;
    left: 0;
    position: fixed;
    margin: 0 auto;
    width: 100%;
    height: 40px;
}



/* FIREFOX SPECIFIC STYLES ADJUSTMENTS WITH DIFFERENCES FROM CHROME STYLES */

@supports (-moz-appearance:meterbar) {
    .infolist li button {
        background-color: rgba(92, 92, 194, 0.842);
        font-family: 'Roboto', Arial, sans-serif;
        font-size: 14px;
    }

    .infolist li {
        margin: 0 50px 0 50px;
    }
}